
<form class="form-login" role="form">
    <h2 class="form-login-heading">Sign up</h2>
    <div class="form-group label-static">
        <input type="text" class="form-control" placeholder="Username" data-ng-model="registration.userName" required autofocus>
<p class="help-block">Input the real name</code></p>
    </div>
    <div class="form-group label-static">
        <input type="password" class="form-control" placeholder="Password" data-ng-model="registration.password" required>
    </div>
    <div class="form-group label-static">
        <input type="password" class="form-control" placeholder="Confirm Password" data-ng-model="registration.confirmPassword" required>
</div>

    <div class="form-group label-static">
        <input type="email" class="form-control" placeholder="Email" data-ng-model="registration.email" required>
  </div>
   <button class="btn btn-lg btn-primary btn-raised" type="submit" data-ng-click="signUp()">Submit</button>
    <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
        {{message}}
    </div>
</form>